.app-download-container {
  display: flex;
  flex-direction: column; /* Stack items vertically on smaller screens */
  align-items: center;
  justify-content: center;
  background-color: #FFFBFB;
  padding: 20px; /* Adjust padding for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.app-image {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* C /* Optional: adjust to your preferred height */
}

.app-image img {
  border-radius: 20px;
  width: auto;
  height: auto;
}

/* Styles for laptops and larger screens */
@media (min-width: 1024px) {
  .app-image img {
    max-width: 400px; /* Larger width for laptops */
    max-height: 400px; /* Larger height for laptops */
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .app-image img {
    max-width: 150px; /* Slightly larger width for mobile */
    max-height: 150px; /* Slightly larger height for mobile */
  }
}


.app-info {
  margin-top: 20px; /* Add space between image and text on smaller screens */
}
.small-logoo {
  width: 160px !important; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 5px; /* Optional: Adjust spacing */
}
.highlight {
  color: #FF6D00;
}

h2 {
  font-size: 1.5rem; /* Adjust font size for smaller screens */
  margin-bottom: 10px;
}

p {
  font-size: 0.9rem; /* Adjust font size for smaller screens */
  color: #666;
  margin-bottom: 20px;
}

.download-buttons img {
  max-width: 150px; /* Adjust size of buttons for smaller screens */
  margin: 5px; /* Reduce margin for smaller screens */
}

/* Responsive Styles */
@media (min-width: 768px) {
  .app-download-container {
    flex-direction: row; /* Align items horizontally on larger screens */
    text-align: left;
  }
  .small-logo {
    width: 500px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 5px;
    margin-bottom: 10px; /* Optional: Adjust spacing */
  }

  .app-info {
    margin-left: 40px;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .download-buttons img {
    max-width: 250px;
  }
}
