.designs-container {
    text-align: left;
    margin: 20px;
}

.designs-header {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.designs-header h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-dropdown {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    min-width: 150px;
    cursor: pointer;
}

.filter-dropdown:focus {
    outline: none;
    border-color: #007bff;
}


.designs-container h2 {
    font-size: 24px;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.designs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 10%;
}

.design-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.design-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.design-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.design-details {
    padding: 15px;
    text-align: left;
}

.design-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    text-align: left;
}

.design-price {
    margin: 5px 0;
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
    text-align: left;
}

.design-location {
    font-size: 14px;
    color: #666;
    text-align: left;
}

/* Modal styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.modal:hover {
    cursor: pointer;
}

/* Responsive Layout */
@media (min-width: 992px) {
    .designs-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .designs-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .designs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
