.footer-mobile-container {
  background-color: #352130;
  color: #fff;
  padding: 30px 10px; /* Adjust padding for mobile */
  font-family: Arial, sans-serif;
}

.footer-mobile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mobile-section {
  width: 100%;
  margin-bottom: 20px;
}

.footer-mobile-section h2 {
  font-size: 1.25rem;
  cursor: pointer;
  margin-bottom: 10px; /* Add space between the heading and the content */
}

.footer-mobile-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-mobile-section ul li {
  margin-bottom: 10px;
}

.footer-mobile-section ul li button{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footer-mobile-section .link-button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: #fff; /* Set text color */
  font-size: 0.9rem; /* Adjust font size */
  cursor: pointer; /* Add pointer cursor on hover */
  padding: 0; /* Remove padding */
  text-align: left; /* Align text to the left */
  display: block; /* Ensure button takes up full width */
}

.footer-mobile-section .link-button:hover {
  text-decoration: underline; /* Add underline on hover */
}

.footer-mobile-section p {
  font-size: 0.9rem;
}

.footer-social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center; /* Center align icons */
  gap: 10px;
  flex-wrap: wrap; /* Allow icons to wrap if they overflow */
}

.footer-social-icons .footer-icon-button {
  font-size: 1.25rem;
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: #fff; /* Set icon color */
  cursor: pointer; /* Add pointer cursor on hover */
  padding: 0; /* Remove padding */
}

.footer-small-image {
  max-width: 150px; /* Adjust the size of the image as needed */
  margin-bottom: 20px;
}

.footer-mobile-bottom {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-mobile-container {
    padding: 30px 10px;
  }

  .footer-mobile-section h2 {
    font-size: 1.25rem;
  }

  .footer-mobile-section p {
    font-size: 0.8rem;
  }

  .footer-social-icons {
    gap: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .footer-mobile-container {
    padding: 20px 5px;
  }

  .footer-mobile-section h2 {
    font-size: 1rem;
  }

  .footer-mobile-section p {
    font-size: 0.75rem;
  }

  .footer-social-icons .footer-icon-button {
    font-size: 1rem;
  }
}
